body{
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
}
.container{
    position: relative;
    top: 0;
}
.image1{
    position: relative;
    top: 0;
    left: 0;
    width: 700px;
    height: 200px;
    background-color: aqua;
}
.image2{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 280px;

}
h1{
    font-size: 32px;
}
.logo{
    width: 200px;
    height: 300px;
}