body{
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}
thead{
    background-color: lightsteelblue;
    color: white;
}

h1{
    font-size: 32px;
}
.container{
    position: relative;
    top: 0;
}
.image1{
    position: relative;
    top: 0;
    left: 0;
    width: 1100px;
    height: 200px;
    background-color: aqua;
}
.image2{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 280px;

}

.logo{
    width: 200px;
    height: 300px;
}
.imgtim{
    display: inline-block;
}
.commentoimg{
    font-size: 12px;
}
.evidenziato{
    background-color: chartreuse;
}
.footuno{
    background-image: url(monitor.jpg);
    color: white;
}
.footdue{
    background-image: url(graph.jpg);
    color: white;
}
.tr{
    background-color: lightblue;
    color: white;
}